@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
.inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

$primaryBtncolor:#4CAF4F;
$primaryHeadingcolor:#18191F;
$primaryTextcolor: #717171;
$Headingsize:36px;
$Textsize:16px;
$FontFamily:inter;

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: $FontFamily;
    background-color: $primaryBtncolor;
    color: white;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
    color: greenyellow;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
